annotated-types
anyio
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
decorator
defusedxml
docopt
executing
fastjsonschema
h11
httpcore
httpx
idna
iniconfig
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
modrinth-api-wrapper
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pexpect
pickleshare
platformdirs
pluggy
prompt_toolkit
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
pyzmq
referencing
requests
rpds-py
six
sniffio
soupsieve
stack-data
tinycss2
tomlkit
tornado
traitlets
typing-inspection
typing_extensions
urllib3
wcwidth
webencodings
yarg
